# deploy:  mkdocs gh-deploy --config-file ..\smp-lab-documentation\mkdocs.yml --remote-branch main
# need to cd to SoftMatterPhysicsLeeds.github.io to run this.
site_name: SMP Documentation
site_description: Documentation for the equipment/processes used in the Soft Matter Physics Group at the University of Leeds.
site_author: Dan Baker
site_url: https://softmatterphysicsleeds.github.io
copyright: "Copyright &copy; Dan Baker 2023-present"

nav:
  - Home: index.md
  - Instruments:
      - 3D PCS: dls.md
      - Anton Paar Rheometer: anton-paar.md
      - Berek Compensator: berek-compensator.md
      - Bruker NMR (Diffusion): bruker-nmr-diffusion.md
      - DSC: dscQ20.md
      - Folium Rubbing Machine: folium-rubbing.md
      - Hot Presses: hotpress.md
      - Microscopy: microscope.md
      - Novocontrol Dielectric Spectrometer: novocontrol-dielectric.md
      - Raman: raman.md
      - Stelar FFC NMR: stelar-ffc.md
      - Vacuum Ovens: vacuum-ovens.md
  - Software / Analysis:
      - Git / Github: git.md
      - Latex: latex.md
      - Least Squares Fitting: least-squares-fitting.md
      - Python: python.md
      - Universal Analysis (DSC analysis): universal-analysis.md
      - Useful Tips: useful-tips.md

  # - About: about.md
theme:
  name: material
  features:
    - content.code.copy
    - toc.follow
    - navigation.top
    - navigation.sections
  icon:
    logo: material/microscope
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: custom
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: custom
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

extra_css:
  - stylesheets/extra.css
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.css

markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_javascript:
  - javascripts/pressure_calculator.js
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
