:root {
    --md-primary-fg-color:        #006400;
 
}

[data-md-color-scheme="default"] {
    --md-primary-fg-color:        #006400;
    --md-primary-fg-color--light: #4b694b;
    --md-primary-fg-color--dark:  #033803;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #006400;
    --md-primary-fg-color--light: #4b694b;
    --md-primary-fg-color--dark:  #033803;
}